<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker *ngFor="let point of points"
              [latitude]="point.location.coordinates[1]"
              [longitude]="point.location.coordinates[0]"
              [iconUrl]="iconGreen"
              (click)="onFacebookLocation(point)"
  >
  </agm-marker>
  <agm-marker *ngFor="let location of locationsArr"
              [latitude]="location.lat"
              [longitude]="location.lng"
              [iconUrl]="iconRed">
    <agm-info-window [disableAutoPan]="false" #infoWindow>

      <div>
        hola
      </div>
      <div>
        <a (click)="onClickInfoView({id:location.id})" class="btn btn-attention pull-right">perro <i class="fa fa-angle-double-right"></i></a>
      </div>

    </agm-info-window>

  </agm-marker>
</agm-map>

<div class="button-toggle">
  <button class="btn btn-success" (click)="onToggle()">
  </button>
</div>
